
#greenbody {
	background-color: #8CD73E;
}
.header {
       position: absolute;
       right: 0;
       top: 0;
       left: 0;
       padding: 1rem;
       background-color: #efefef;
       background: -webkit-linear-gradient(#FFFFFF, #EFEFEF); /* For Safari 5.1 to 6.0 */
       background: -o-linear-gradient(#FFFFFF, #EFEFEF); /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(#FFFFFF, #EFEFEF); /* For Firefox 3.6 to 15 */
       background: linear-gradient(#FFFFFF, #EFEFEF); /* Standard syntax (must be last) */
       
}
.footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-color: #efefef;
      background: -webkit-linear-gradient(#8CD73E, #EFEFEF); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#8CD73E, #EFEFEF); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#8CD73E, #EFEFEF); /* For Firefox 3.6 to 15 */         
      background: linear-gradient(#8CD73E, #EFEFEF); /* Standard syntax (must be last) */
      text-align: center;
}
ul {
	    display: inline-block;
	    text-align: right;
	    list-style-type: none;
	    margin-top: -35px;
}

ul li {
	    
	    float: left;
	    padding-left: 10px;
}

ul li: last-child{
	    padding-right: 10px;
}

.left {
	position: relative;
        left: 0px;
	width: 300px;
        background-color: #b0e0e6;
}
.right {
	position: relative;
        right 35px;
	left 35px;
	width: 100.px;

}
input[type=text], 
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5px auto; /* 15% from the top and centered */
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	    /* Position it in the top right corner outside of the modal */
	position: absolute;
	right: 25px;
	top: 0; 
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
	color: red;
        cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	    -webkit-animation: animatezoom 0.6s;
	        animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	    from {-webkit-transform: scale(0)} 
	        to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	    from {transform: scale(0)} 
	        to {transform: scale(1)}
}
